:root {
  --white: #fff;
  --title-color: #28323c;
  --primary-color: #d70011;
  --desktop-grid: 1280px;
}

@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
    format("woff");
  font-weight: 400;
  font-style: normal;
}

html,
body,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Pretendard-Regular", sans-serif;
  font-size: 16px;
  list-style: none;
  text-decoration: none;
  font-style: normal;
}

body {
  min-width: 1280px;
}

body,
body a {
  color: var(--title-color);
}

.blind {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
}

#header {
  position: relative;
  width: 100%;
}

.header-top {
  background-color: var(--primary-color);
  height: 78px;
}

.grid {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: var(--desktop-grid);
  height: 100%;
  margin: auto;
}

#logo img {
  width: 156px;
  height: 78px;
}

.search {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.search-bar {
  position: relative;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-bar fieldset {
  border: none;
}

.search-txt {
  width: 450px;
  height: 48px;
  border-radius: 48px;
  border: 1px solid var(--primary-color);
  outline: none;
  padding-left: 32px;
  padding-right: 136px;
  caret-color: var(--primary-color);
}

.search-btn {
  position: absolute;
  top: 50%;
  left: 90%;
  transform: translateY(-50%);
  width: 42px;
  height: 42px;
  border: none;
  border-radius: 42px;
  background: var(--primary-color) url(../../resources/img/search-btn.svg)
    no-repeat center;
}

.rank {
  display: flex;
  height: 20px;
  overflow: hidden;
  margin: 0 8px 0 24px;
}

.rank span {
  display: inline-block;
  font-weight: bold;
}

.rank span,
.rank a {
  color: var(--white);
}

.rank a {
  display: inline-block;
  width: 120px;
  height: 20px;
  padding-left: 16px;
}

.rank::after {
  display: block;
  content: "";
  width: 24px;
  height: 24px;
  background-image: url(../../resources/img/arrow.svg);
}

.util {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 78px;
  gap: 4px;
}

.util a {
  display: block;
  height: 100%;
}

.util a::before {
  display: block;
  content: "";
  width: 184px;
  height: 100%;
  background: url(../../resources/img/util-today.png) center no-repeat;
  background-size: cover;
}

.my-page,
.cart {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 70px;
  height: 64px;
  color: var(--white);
  font-size: 14px;
}

.my-page::before,
.cart::before {
  display: block;
  content: "";
  width: 48px;
  height: 48px;
}

.my-page::before {
  background: url(../../resources/img/my-page.svg) no-repeat;
}

.cart::before {
  background: url(../../resources/img/cart.svg) no-repeat;
}

#gnb {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 47px;
  background-color: var(--white);
}

.goto ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 32px;
}

.goto a {
  position: relative;
  display: block;
  height: 47px;
  line-height: 47px;
  font-weight: 700;
  color: var(--title-color);
}

.goto .active a {
  color: var(--primary-color);
}

.goto .active a::before {
  position: absolute;
  bottom: 2px;
  left: 0;
  display: block;
  content: "";
  width: 100%;
  height: 2px;
  background-color: var(--primary-color);
}

.goto li:first-child a::after {
  display: block;
  content: "";
  width: 72px;
  height: 47px;
  background: url(../../resources/img/fashionNew.svg) no-repeat center/contain;
}

.member ul {
  display: flex;
  justify-content: center;
  align-items: center;
}

.member li {
  display: flex;
  justify-content: center;
  align-items: center;
}

.member li::before {
  display: block;
  content: "";
  width: 1px;
  height: 14px;
  background-color: #e9ebee;
}

.member li:first-child::before {
  display: none;
}

.member a {
  font-size: 14px;
  padding: 8px;
}

.menu {
  display: flex;
  align-items: center;
  background-color: var(--white);
}

.menu-btn {
  width: 64px;
  height: 47px;
  border: none;
  background-color: var(--white);
}

.menu-btn::after {
  display: block;
  content: "";
  width: 32px;
  height: 47px;
  background: var(--white) url(../../resources/img/menu.svg) no-repeat left
    center;
  cursor: pointer;
}

.menu-all {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: var(--white);
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.078);
}

.menu-grid {
  width: var(--desktop-grid);
  height: 625px;
  margin: auto;
  padding: 14px 0 22px;
}

.depth1 {
  position: absolute;
  width: 100%;
}

.depth1 > li > a {
  position: relative;
  display: flex;
  align-items: center;
  width: 192px;
  padding: 10px 32px 10px 8px;
  font-weight: 700;
}

.depth1 li a:hover {
  color: var(--primary-color);
}

.depth1 li:hover > .depth2 {
  display: flex;
}

.depth1 > li > a::before {
  display: block;
  content: "";
  width: 20px;
  height: 20px;
  margin-right: 12px;
  background: url(../../resources/img/icon-beauty.jpg) no-repeat center/cover;
}

.depth1 > li:nth-child(2) > a::before {
  display: block;
  content: "";
  width: 20px;
  height: 20px;
  margin-right: 12px;
  background: url(../../resources/img/box.png) no-repeat center/cover;
}

.depth1 > li:nth-child(3) > a::before {
  display: block;
  content: "";
  width: 20px;
  height: 20px;
  margin-right: 12px;
  background: url(../../resources/img/fancy.png) no-repeat center/cover;
}

.depth1 > li > a:hover::after {
  position: absolute;
  top: auto;
  right: 10px;
  display: block;
  content: "";
  width: 24px;
  height: 24px;
  background: url(../../resources/img/right-arrow-red.svg) no-repeat
    center/cover;
}

.depth2 {
  position: absolute;
  display: none;
  justify-content: space-between;
  top: 0;
  left: 192px;
  width: calc(var(--desktop-grid) - 192px);
  height: 572px;
  overflow-y: auto;
}

.depth2 .col {
  padding: 10px 18px 0;
  flex: 1 1 0;
  border-left: 1px solid #f7f8f9;
  height: fit-content;
}

.col ul + ul {
  margin-top: 24px;
}

.col ul > a {
  display: block;
  font-weight: 700;
  margin-bottom: 8px;
}

.col li a {
  display: block;
  color: #929292;
  font-size: 14px;
  letter-spacing: -0.034em;
  line-height: 1.4;
  padding: 6px 0;
}

/* main
================================================================ */
.main-grid {
  width: 1280px;
  margin: auto;
  padding-bottom: 80px;
}

.main-grid h2 {
  font-size: 32px;
  font-weight: bold;
  margin: 24px 0;
  line-height: 1;
}

.box-tab {
  display: flex;
  justify-content: center;
  align-items: center;
}

.box-tab button {
  height: 64px;
  flex-grow: 1;
  flex-basis: 0;
  background-color: #f7f8f9;
  border: none;
  border-bottom: 1px solid #28323c;
  color: #374553;
}

.box-tab .clicked {
  background-color: var(--white);
  border-top: 2px solid var(--primary-color);
  border-bottom: none;
  color: var(--primary-color);
  font-weight: bold;
}

.membership-content {
  background-color: #f7f8f9;
  border-radius: 8px;
  margin: 48px 0 56px;
}

.mem-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 69px;
  border-radius: 8px 8px 0 0;
  background: linear-gradient(135deg, #d70011, #f1352b);
  padding: 0 40px;
}

.mem-top,
.mem-top a {
  color: var(--white);
}

.mem-title,
.mem-goto a {
  font-size: 18px;
  line-height: 1.2;
}

.mem-goto ul {
  display: flex;
}

.mem-goto a {
  display: block;
  margin-left: 40px;
}

.mem-goto li {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mem-goto li::after {
  display: block;
  top: 0;
  right: 0;
  content: "\f105";
  font-family: "Line Awesome Free";
  font-weight: 900;
  margin-left: 5px;
}

.mem-bottom {
  padding: 0 40px;
}

.mem-point {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  border-radius: 12px;
  border: 1px solid #e9ebee;
  padding: 0 40px;
  margin-top: 24px;
}

.show-point::before {
  background-color: #d70011;
  border-radius: 50%;
  color: #fff;
  content: "P";
  font-size: 26px;
  font-weight: 700;
  height: 58px;
  line-height: 57px;
  text-align: center;
  width: 58px;
}

.mem-point > div {
  padding: 24px;
}

/* footer
================================================================ */
footer {
  width: 100%;
  height: 650px;
  background-color: #161d24;
  padding: 40px 0;
  color: #fff;
  position: relative;
}

.footer-container {
  position: relative;
  width: 1280px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}

.footer-section {
  margin-top: 30px;
  margin-bottom: 20px;
}

.footer-section h3 {
  color: #fff;
}

.footer-section ul {
  list-style: none;
  padding: 0;
  line-height: 1.8;
}

.footer-section ul li a {
  color: #bbb;
  text-decoration: none;
}

.footer-section ul li a:hover {
  color: #fff;
  text-decoration: underline;
}

.footer-bottom {
  position: relative;
  width: 1280px;
  padding-top: 20px;
  border-top: 1px solid #eee;
  left: 50%;
  transform: translateX(-50%);
  font-size: 14px;
  color: #777;
}

.footer-bottom-1 h3 {
  position: absolute;
  color: #fff;
  display: flex;
  top: 20px;
  left: 0;
}

.footer-bottom-2 {
  position: absolute;
  display: flex;
  top: 0;
  right: 0;
}

/* cs 부분 */
.cs {
  margin: 20px 100px 0 0;
}

.cs > h3 {
  font-size: 18px;
  margin-bottom: 20px;
}

.cs-1 span,
.cs-2 span,
span a {
  font-size: 14px;
  color: #c5c8ce !important;
  margin: 0px 5px 10px 0;
}

.cs-1-1,
.cs-2-1 {
  margin-left: 108px;
  margin-top: 17px;
  text-decoration: underline;
}

.cs-1-1-1 {
  margin-bottom: 15px;
}

.cs-1 > .time,
.cs-2 > .time {
  margin-left: 108px;
}

.cs-2 {
  margin-top: 30px;
}

.cs-1 > h3,
.cs-2 > h3 {
  font-size: 14px;
  display: inline-block;
  width: 105px;
}

.cs-1 > .tel,
.cs-2 > .tel {
  font-size: 22px;
  color: #fff !important;
  font-weight: bold;
}

/* 멤버십 부분 */

/* 멤버십과 회사소개 섹션 간격 추가 */
.membership,
.introduction {
  margin: 20px 50px 0 0;
}

.membership h3,
.introduction h3 {
  font-size: 18px;
  margin-bottom: 20px;
}

.membership ul li a,
.introduction ul li a {
  margin-bottom: 5px;
  font-size: 14px;
}

/* 소셜 아이콘을 상단 오른쪽에 고정 */
.social-icons {
  position: absolute; /* 상단 고정을 위해 absolute 사용 */
  top: 0px; /* 상단에서 20px 떨어진 위치 */
  right: 0px; /* 오른쪽에서 20px 떨어진 위치 */
  display: flex;
  gap: 24px; /* 아이콘 간격 */
}

.social-icons a i {
  color: #fff;
  font-size: 24px; /* 아이콘 크기 */
}

.social-icons a:hover {
  color: #fff;
}

.store-buttons {
  position: absolute;
  top: 50px;
  right: 0;
  display: flex;
  flex-direction: column;
}

.store-buttons img {
  width: 120px;
  margin-bottom: 12px;
}

/* 개인정보처리방침등 aside */

.aside {
  text-align: right; /* 텍스트 및 내부 요소를 오른쪽으로 정렬 */
  width: 100%; /* 부모의 가로 크기만큼 확장 */
  margin-bottom: 15px;
}

.aside a {
  color: #fff;
  text-decoration: none;
  margin: 0 10px;
  font-size: 14px;
  font-weight: lighter;
}

.aside a:hover {
  color: #fff;
  text-decoration: underline;
}

.aside_wrap {
  width: 100%;
  margin-top: 30px;
}

/* Certified */
.Certified {
  position: absolute;
  display: flex;
  top: 20px;
  left: 250px;
  font-size: 14px;
  gap: 20px;
}

.Certified li {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #646f7c;
  font-size: 14px;
}

.Certified img {
  width: 32px;
  margin-right: 5px;
}

/* address */
.address {
  margin: 50px 0 0 250px;
}

.address-1,
.address-2 {
  margin-bottom: 5px;
}

.address span {
  font-size: 14px;
  color: #646f7c;
  margin-bottom: 10px;
}

.address a {
  text-decoration: underline;
}

/* copyright */
.copyright {
  position: absolute;
  bottom: 15px;
  left: 0;
  font-size: 14px;
  color: #646f7c;
}

/* 패밀리 사이트 */

.family-site {
  margin-top: 30px;
  padding: 10px;
  border: 1px solid #444;
  background-color: #333;
  color: #fff;
}
